* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: antiquewhite;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to right, rgb(68, 59, 146), rgb(30, 1, 134))
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 10rem;
    background-color: #1a142e;
    color: beige;
    height: 3.5rem;
    align-items: center;
}

.title {
    font-size: 1.3rem;
}

nav ul {
    display: flex;
    justify-content: space-between;

}

nav ul li {
    list-style: none;
    margin: 0 2rem;
    font-size: 1rem;
}

nav ul li a:hover {
    color: rgb(245, 134, 60);
}

nav ul li a {
    text-decoration: none;
    color: beige;
}

.upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 100px 25px 100px 25px;

}

.header {
    font-size: 3rem;
    color: blanchedalmond;
}

.intro {
    color: gray;
    font-size: 13px;
}

.contact_info {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact_methods {
    display: flex;
   gap: 30px;
}

.email{
    display: flex;
}

.mobile{
    display: flex;
}

.icon{
    width: 23px;
}
.underline{
    background-color: white;
    height: 1px;
    width: 45%;
}
.sites{
    display: flex;
    gap: 50px;
}
.sites_icon{
    width: 50px;
}